
  <div class="container">
    <div class="card ticket w100">
        <small class="text-right fr">#{{ticket.id}} | {{ticket.created_at | dateAgo}}</small>
        <h3><a href="#">{{ticket.title}}</a></h3>
        <p>{{ticket.description}}</p>
        <div class="text-left fl"><strong>Autor:</strong> {{ticket.author.username}}</div> <div class="text-right fr"><strong>Estado:</strong> {{ticket.human_state}}</div>
    </div>
</div>

<main class="login-form">
  <div class="hv-center container">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">Actualizar Ticket</div>
        <div class="card-body">
          <form [formGroup]="updateTicketForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" >Titulo</span>
              </div>
              <input type="text" class="form-control" [(ngModel)]="title" formControlName="title" id="title" disabled>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Descripción</span>
              </div>
              <textarea class="form-control" formControlName="description" [(ngModel)]="description" id="description"></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="state">Estado</label>
              </div>
              <select class="custom-select" formControlName="state" id="state" [(ngModel)]="state">
                <option selected>Escoja...</option>
                <option value="OP">Abierto</option>
                <option value="CL">Cerrado</option>
                <option value="PE">Pendiente</option>
                <option value="IP">En Proceso</option>
                <option value="RE">Resuelto</option>
              </select>
            </div>
            <div class="cmb-3">
              <button type="submit" class="btn btn-primary center w100">
                Actualizar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>