
  .card {
    max-width: 1000px;
    margin: auto;
    padding: 24px;
  }
  
  .w100 {
    width: 100%;
  }
  
  .fl {
    float: left;
  }
  .fr {
    float: right;
  }
  
  .ticket {
    width: 100%;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
  }